.dark-grey-text {
  color: rgb(73, 73, 73);
}

.red-text {
  color: red;
}
.grey-bg {
  background-color: rgb(199, 199, 199);
}

.light-blue-bg {
  background-color: rgb(162, 210, 222);
}

.status-card {
  flex: 1 0 20%;
  margin: 10px;
}

.container-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
}

.small-text {
  font-size: 12px;
}
